{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">
<br>
<div style="display: inline-block;">1) Выберите цвет</div>
<div style="display: inline-block;">2) Введите цвет в формате RGB(***-***-***)</div>
<br>
<div style="display: inline-block;">
<form method="post" style="justify-content: center" action="/random"><input id="myColor" type="color" name="color"
           value="#{current_user.color}" >
</form>
</div>
<div style="display: inline-block;">

<br>
<br>
<b style='display: inline-block; font-size: 20pt; color:rgb(66,49,137);'>Some unusual combinations</b>
<br>
<br>
<div style="display: inline-block;
    width:200px;
    height:200px;
    border:1px solid #000;">БЛОК1
</div>
<div style="
    width: 200px;
    height: 200px;
    display: inline-block;border:1px solid #000;">БЛОК1
</div>




{% endblock %}